* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    outline: 5px solid black;
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    background-color: white;
    outline: lightgray solid 1px;
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 6.25%; */
}

#reset-button {
    width: 100px;
    height: 25px;
    margin-bottom: 20px;
    background-color: orange;
    border: none;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

#reset-button:hover {
    background-color: rgb(255, 217, 0);
    width: 105px;
    cursor: pointer;
}