* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 60px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    outline: 1px solid red;
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cell {
    background-color: green;
    outline: black solid 1px;
    min-width: 10px;
    min-height: 20px;
    display: inline-block;
}